.user-repos-container {
	position: relative;
	background-color: #e1e4e8;
	width: 80%;
	height: 55vh;
	margin: auto;
	border-radius: 10px;
}

.user-repos-container p {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 42%;
}
