.user-repos-container {
	position: relative;
	width: 600px;
	height: 55vh;
	margin: auto 0;
	border-radius: 10px;
	box-shadow: 2px 4px 12px rgba(231, 231, 231, 0.644);
	background-color: rgba(255, 255, 255, 0.308);
}

.user-repos-container p {
	text-align: center;
	margin-top: 50px;
}
