.repo-search-bar {
	padding: 30px;
}

.repo-search-bar form {
	display: flex;
	justify-content: space-between;
}
.repo-search-bar input {
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 1rem;
	border: none;
}

.repo-search-bar input:first-child {
	width: 70%;
}

.repo-search-bar input:focus {
	outline: none;
}
